.menu-list__item {
    font-size: 12px;
    font-weight: 500;
    opacity: .8;
    margin-bottom: 25px;
    transition: opacity .1s;
}

.menu-list__item:hover {
    opacity: .4;
    cursor: pointer;
}