* {
    box-sizing: border-box;
}

.kanban {
    display: flex;
    justify-content: space-between;
}

.column {
    margin-top: 30px;
    padding: 20px 10px;
    min-width: 360px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}

.column__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.item {
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 5px 0;
    cursor: grab;
    background-color: #fff;
}

.selected {
    opacity: 0.6;
}